a {
	color: #7e9e1d;
}

a:hover,
a:focus {
	color: inherit;
}

.btn-default {
	border-bottom-color: #698518;
	background: #7e9e1d;
	color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
	border-color: #5e7715;
	background-color: #73901a;
	color: #ffffff;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	color: #7e9e1d;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: #7e9e1d;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: #7e9e1d;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
	background: none;
}

table > thead > tr > th {
	background: #7e9e1d;
	color: #ffffff;
}

.table-bordered > thead > tr > th {
	color: inherit;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
	background-color: rgba(126,158,29,.1);
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: rgba(126,158,29,.2);
}

#header .header-top-bar .header-language.active > a,
#header .header-top-bar .header-language > a:hover {
	color: #7e9e1d;
}

#header .header-top-bar .header-search .toggle a {
	background: #7e9e1d;
}

#header .header-top-bar .header-search .toggle a span,
#header .header-top-bar .header-search .toggle a span:before,
#header .header-top-bar .header-search .toggle a span:after {
	background: #ffffff;
}

#header .header-top-bar .header-search form > input[type="submit"]:hover {
	color: #7e9e1d;
}

#header .header-top-bar .header-social > li > a:hover {
	color: #7e9e1d;
}

#header .header-top-bar .header-language > ul,
#header .header-top-bar .header-login > div,
#header .header-top-bar .header-register > div,
#header .header-top-bar .header-search-dropdown {
	border-top-color: #698518;
}

#header .header-nav-bar .primary-nav > li.active > a,
#header .header-nav-bar .primary-nav > li:hover > a,
#header .header-nav-bar .primary-nav > li.hover > a {
	color: #7e9e1d;
}

#header .header-nav-bar.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

#header .header-nav-bar .primary-nav ul {
	border-top-color: #698518;
}

#header .header-nav-bar .primary-nav > li > ul ul {
	border-top: 0;
}

#header .header-nav-bar .primary-nav > li:hover > .submenu-arrow,
#header .header-nav-bar .primary-nav > li.hover > .submenu-arrow,
#header .header-nav-bar .primary-nav > li.active > .submenu-arrow {
	color: #7e9e1d;
}

#mobile-menu-toggle {
	background: #7e9e1d;
}

#mobile-menu-toggle span,
#mobile-menu-toggle span:before,
#mobile-menu-toggle span:after {
	background: #ffffff;
}

#mobile-menu-container .btn.clone:first-child {
	border-right-color: #698518;
}

#footer > .container a:hover {
	color: #7e9e1d;
}

#footer .footer-copyright .footer-social li a:hover {
	color: #7e9e1d;
}

.call-to-action-section .icon {
	background: #7e9e1d;
}

.testimonials-section .testimonial {
	background: #7e9e1d;
}

.crowdfunding-section .crowdfunding-slider .flex-control-nav li a {
	border-color: #7e9e1d;
}

.crowdfunding-section .crowdfunding-slider .flex-control-nav li a:hover {
	background: #7e9e1d;
}

.crowdfunding-section .crowdfunding-slider .flex-control-nav li a.flex-active {
	background: #7e9e1d;
}

.crowdfunding-section .progress-container .progress-bar .progress-bar-inner > span {
	background: #7e9e1d;
}

.our-partners-section .our-partners-slider .flex-control-nav li a {
	border-color: #7e9e1d;
}

.our-partners-section .our-partners-slider .flex-control-nav li a:hover {
	background: #7e9e1d;
}

.our-partners-section .our-partners-slider .flex-control-nav li a.flex-active {
	background: #7e9e1d;
}

.twitter-feed-section .twitter-logo {
	background: #7e9e1d;
}

.twitter-feed-section .flex-prev,
.twitter-feed-section .flex-next {
	background: #7e9e1d;
	color: #ffffff;
}

.pricing-tables .pricing-tables-column.active .price {
	background: #7e9e1d;
	color: #ffffff;
}

.nav-tabs {
	border-bottom-color: #7e9e1d;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-color: transparent;
	background-color: #7e9e1d;
	color: #ffffff;
}

.responsive-tabs > .tab-content > .acc-link.active,
.responsive-tabs > .tab-content > .acc-link.active:hover,
.responsive-tabs > .tab-content > .acc-link.active:focus {
	border-color: transparent;
	background: #7e9e1d;
	color: #ffffff;
}

.responsive-tabs.vertical > .tab-content {
	border-left-color: #7e9e1d;
}

.responsive-tabs.vertical > .nav-tabs {
	border-right-color: #7e9e1d;
}

.progress-bar.style-2 > .progress-bar-inner > span {
	background: #7e9e1d;
}

.progress-bar.toggle > .progress-bar-toggle {
	border-bottom-color: #698518;
	background: #7e9e1d;
	color: #ffffff;
}

.donations-item > div > .progress-bar > .progress-bar-inner > span {
	background: #7e9e1d;
}

.search-item .crowdfunding > .progress-bar > .progress-bar-inner > span {
	background: #7e9e1d;
}

.gallery-item .overlay .categories a:hover {
	color: #7e9e1d;
}

.members-item .overlay .social a:hover {
	color: #7e9e1d;
}